<!DOCTYPE html>
<html>

</html>

<head>
  <title>{{title}}</title>
  <link rel="icon" href="img/o-logo.png">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&display=swap" rel="stylesheet">
</head>

<body>
  {{>header}}
  <div class="main-container">
    <div class="error">
      <p>{{errorMessage}}</p>
    </div>
  </div>

  {{>footer}}
</body>
