<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{sitename}} - {{title}}</title>
  <link rel="icon" href="img/o-logo.png">
  <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@400;500;600;700;800&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="css/styles.css">
</head>
<body class="bg-img">
  {{>header}}
  <div class="container">
    <div class="row row-header">
      <div class="col-12">
        <h1>Memory Match - Artistic Flower</h1>
      </div>
    </div>
    <div class="row row-body">
      <div class="aside-top">
        <div class="box-top">
          <p class="top-games-played">Games Played</p>
        </div>
        <div class="row box-top">
          <p class="top-games-played-result" id="games-played-top">0</p>
        </div>
        <div class="row box-top">
          <p class="top-attempts">Attempts</p>
        </div>
        <div class="row box-top">
          <p class="top-attempts-result" id="attempts-top">0</p>
        </div>
        <div class="row box-top">
          <p class="top-accuracy">Accuracy</p>
        </div>
        <div class="row box-top">
          <p class="top-accuracy-result" id="accuracy-top">0</p>
        </div>
      </div>
      <aside class="aside-side col-1">
        <div class="row box-aside">
          <p class="aside-stats">Stats</p>
        </div>
        <div class="row box-aside">
          <p class="aside-games-played">Games Played</p>
        </div>
        <div class="row box-aside">
          <p class="aside-games-played-result" id="games-played-side">0</p>
        </div>
        <div class="row box-aside">
          <p class="aside-attempts">Attempts</p>
        </div>
        <div class="row box-aside">
          <p class="aside-attempts-result" id="attempts-side">0</p>
        </div>
        <div class="row box-aside">
          <p class="aside-accuracy">Accuracy</p>
        </div>
        <div class="row box-aside">
          <p class="aside-accuracy-result" id="accuracy-side">0</p>
        </div>
      </aside>
      <main id="gameCards" class="col-10">
      </main>
      <div class="col-1"></div>
    </div>
    <div class="row">
      <div class="col-1"></div>
      <div class="col-10">
        <div class="main-menu-box">
          <button class="theme-change theme-change-btn">Theme</button>
          <button class="level-change level-change-btn">Level</button>
          <button class="sound-control sound-control-btn">Sound: <span class="soundOnOff">OFF</span></button>
        </div>
      </div>
      <div class="col-1"></div>
    </div>
    <div id="modal" class="modal">
      <div class="modal-win">
        <p class="modal-message">Congratulations! You have won!</p>
        <button class="play-again">Play Again</button>
        <button class="change-theme theme-change-btn">Change Theme</button>
        <button class="change-level level-change-btn">Change Level</button>
        <div class="sound-toggle-container">
          <span class="sound-toggle-title">Sound</span>
          <label class="switch">
            <input type="checkbox" class="sound-toggle sound-toggle-again">
            <span class="slider round"></span>
          </label>
        </div>
      </div>
      <div class="modal-theme">
        <p class="modal-message">Choose you theme</p>
        <button class="theme-btn theme-vangogh">VanGogh</button>
        <button class="theme-btn theme-graffiti">Graffiti</button>
        <button class="theme-btn theme-picasso">Picasso</button>
        <div class="sound-toggle-container">
          <span class="sound-toggle-title">Sound</span>
          <label class="switch">
            <input type="checkbox" class="sound-toggle sound-toggle-theme">
            <span class="slider round"></span>
          </label>
        </div>
      </div>
      <div class="modal-level">
        <p class="modal-message">Select Level</p>
        <button class="level-btn">Beginner</button>
        <button class="level-btn">Easy</button>
        <button class="level-btn">Intermediate</button>
        <button class="level-btn">Hard</button>
        <button class="level-btn">Expert</button>
        <div class="sound-toggle-container">
          <span class="sound-toggle-title">Sound</span>
          <label class="switch">
            <input type="checkbox" class="sound-toggle sound-toggle-level">
            <span class="slider round"></span>
          </label>
        </div>
      </div>
    </div>
  </div>
  {{>footer}}
  <script src="js/app.js"></script>
</body>
</html>
