<footer>
  <div class="line">
    <hr>
  </div>
  <div class="dark-mode-container">
    <p class="dark-mode-title">Dark Mode</p>
    <label class="switch">
      <input type="checkbox" class="dark-mode">
      <span class="slider round"></span>
    </label>
  </div>
  <p>Created by {{name}} - {{subtitle}} - <a href="http://www.{{sitename}}">{{sitename}}</a></p>
</footer>
